body{
    background: rgb(13, 18, 27);
    margin: 0%;
}

body, html {
    height: 100%;
  }
  
  .parallax {
    background-image: url("Laptop.jpg");
  
    height: 50%;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

h1{
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 6vw;
}

h2{
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 3vw;
}

h3{
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 32px;
}

#navbar {
    overflow: hidden;
    background-color: "transparent";
    transition-duration: 0.4s;
    z-index: 5;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

.headerbutton {
    border: none;
    color: white;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .firstbutton {
    background-color: rgba(255, 255, 255, 0); 
    color: rgb(255, 255, 255); 
    border: 0px solid #4CAF50;
  }
  
  .firstbutton:hover {
    background-color: #d8d8d8;
    color: rgb(0, 0, 0);
  }
  
  .secondbutton {
    background-color: rgba(255, 255, 255, 0); 
    color: rgb(255, 255, 255); 
    border: 0px solid #008CBA;
  }
  
  .secondbutton:hover {
    background-color: #d8d8d8;
    color: rgb(0, 0, 0);
  }

.title-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: xx-large;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 500px; /* Should be removed. Only for demonstration */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}